.speech {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: black;
  }
  
  .direction {
    font-family: Times New Roman, serif;
    font-size: 18px;
    color: black;
    background-color: lightgoldenrodyellow;
  }
  .name{
    color: aquamarine;
  }
  
  .direction:hover {
    background-color: #555;
    color: white;
  }
  
  .BROVIK {
    color: #ff5733;
  }
  
  .KAIA {
    color: #3498db;
  }
  
  .RAGNAR {
    color: #27ae60;
  }

.ibsen-table {
    width: 80%;
    border: 10px solid green;
    padding: 25px;
    margin: 5px;
}

.ibsen-table th, .ibsen-table td {
    border: 2px solid #000;
    padding: 10px;
    text-align: center;
}

.ibsen-table th {
    background-color: greenyellow;
}

.ibsen-table tbody tr:nth-child(odd) {
    background-color: green;
}
.ibsen-table tbody tr:nth-child(even) {
    background-color: green;
}



  