.speech {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: black;
  }
  
  .direction {
    font-family: Times New Roman, serif;
    font-size: 18px;
    color: black;
    background-color: lightgoldenrodyellow;
  }
  .name{
    color: aquamarine;
  }
  
  .direction:hover {
    background-color: #555;
    color: white;
  }
  
  .BROVIK {
    color: #ff5733;
  }
  
  .KAIA {
    color: #3498db;
  }
  
  .RAGNAR {
    color: #27ae60;
  }
.ibsen-table{
    border: 15px solid orange;
    color: green;
    text-align: center;
    margin: 5px;
    padding: 30px;
}
tr:nth-child(even){
    background-color: black;
}




  